<div style="width:20%; min-width:350px; margin:0 auto;">
    <mat-card style="width:100%;">
      <mat-card-content>
  
        <mat-card-header style="padding:0px; width:100%;">
          <div style="padding:0px; width:100%;">
            <br>
            <h3 style="padding:0px; width:100%;">Change Username</h3>
          </div>
        </mat-card-header>
        <br>
  
  
        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter your username" (ngModel)="username" name="username" type='name' required maxlength="13">
          </mat-form-field>
          <button mat-raised-button type="submit" [disabled]="!formData.valid" color="primary">Update</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>


