<form #f="ngForm" (ngSubmit)="onSubmit(f.value);" (ngReset)="onReset(); f.reset() ;" class="ui form">

    <div id="top" style="width:90%; min-width: 600px; margin:0 auto;">
       <mat-card>
         <h4 style="text-align:center; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Sample Protein Data</h4>
       </mat-card>
       <div style="height:10px;font-size:1px;">&nbsp;</div>
       <mat-card>
   
   <div>
       <label style="text-align:left; display:unset; font-size:20px; font-weight:bold; margin:0 auto;">Dataset #1: Histone H4 proteoforms</label>
       <a style="padding-left:10px" href="assets/DataFiles/HelaDataset/HelaDatasetWithParameters.zip" download="HelaDatasetWithParameters">Download All (zip)</a>
   </div>
   <p style="font-size: 15px;font-family: sans-serif;"> <b>Description:</b> Top-down proteomics protocol has been applied to identify intact human histone H4 proteoforms extracted from HeLa cells. Various modifications have been reported in the study.</p>
   <p style="font-size: 15px;font-family: sans-serif;"> <b>Publication:</b> Ari M., et al. "Interpreting top-down mass spectra using spectral alignment. "Analytical chemistry 80.7 (2008): 2499-2505<a href="https://pubs.acs.org/doi/10.1021/ac702324u"> (link)</a></p>
   <table class="table table-hover">
       <thead>
           <tr>
               <td>Search Parameters</td>
               <td>File #.</td>
               <td>Download (local copy)</td>
           </tr>
       </thead>
       <tbody>
               <tr>
                       <td>Dataset I - Search Parameters.xlsx</td>
                       <td>1</td>
                       <td><a href="assets/DataFiles/HelaDataset/Dataset I - Search Parameters.xlsx" download="Dataset I - Search Parameters.xlsx">Download</a></td>
                   </tr>
           </tbody>    
       </table>
   
   <table class="table table-hover">
           <thead>
               <tr>
                   <td>Dataset</td>
                   <td>File #.</td>
                   <td>Download (local copy)</td>
               </tr>
           </thead>
           <tbody>
               <!-- <tr *ngFor="let table of tables1">
                   <td >{{table.dataset}}</td>
                   <td>{{table.id}}</td>
                   <td><a href="{{table.download}}" download="{{table.dataset}}">Download</a></td>
               </tr> -->
               <tr>
                   <td>HELA_pk13_sw1_66sc_mono.txt</td>
                   <td>1</td>
                   <td><a href="assets/DataFiles/HelaDataset/HELA_pk13_sw1_66sc_mono.txt" download="HELA_pk13_sw1_66sc_mono.txt">Download</a></td>
               </tr>
               <tr>
                   <td>HELA_pk17_sw1_140sc_mono.txt</td>
                   <td>2</td>
                   <td><a href="assets/DataFiles/HelaDataset/HELA_pk17_sw1_140sc_mono.txt" download="HELA_pk17_sw1_140sc_mono.txt">Download</a></td>
               </tr>
               <tr>
                   <td>HELA_pk18_sw1_160sc_mono.txt</td>
                   <td>3</td>
                   <td><a href="assets/DataFiles/HelaDataset/HELA_pk18_sw1_160sc_mono.txt" download="HELA_pk18_sw1_160sc_mono.txt">Download</a></td>
               </tr>
               <tr>
                   <td>HELA_pk18_sw2_160sc_mono.txt</td>
                   <td>4</td>
                   <td><a href="assets/DataFiles/HelaDataset/HELA_pk18_sw2_160sc_mono.txt" download="HELA_pk18_sw2_160sc_mono.txt">Download</a></td>
               </tr>
               <tr>
                   <td>HELA_pk19_sw1_210sc_mono.txt</td>
                   <td>5</td>
                   <td><a href="assets/DataFiles/HelaDataset/HELA_pk19_sw1_210sc_mono.txt" download="HELA_pk19_sw1_210sc_mono.txt">Download</a></td>
               </tr>
               <tr>
                   <td>HELA_pk19_sw2_255sc_mono.txt</td>
                   <td>6</td>
                   <td><a href="assets/DataFiles/HelaDataset/HELA_pk19_sw2_255sc_mono.txt" download="HELA_pk19_sw2_255sc_mono.txt">Download</a></td>
               </tr>
               <tr>
                   <td>HELA_pk19_sw3.1_147sc_mono.txt</td>
                   <td>7</td>
                   <td><a href="assets/DataFiles/HelaDataset/HELA_pk19_sw3.1_147sc_mono.txt" download="HELA_pk19_sw3.1_147sc_mono.txt">Download</a></td>
               </tr>
               <tr>
                   <td>HELA_pk20_sw1_205sc_mono.txt</td>
                   <td>8</td>
                   <td><a href="assets/DataFiles/HelaDataset/HELA_pk20_sw1_205sc_mono.txt" download="HELA_pk20_sw1_205sc_mono.txt">Download</a></td>
               </tr>
               <tr>
                   <td>HELA_pk20_sw2_202sc_mono.txt</td>
                   <td>9</td>
                   <td><a href="assets/DataFiles/HelaDataset/HELA_pk20_sw2_202sc_mono.txt" download="HELA_pk20_sw2_202sc_mono.txt">Download</a></td>
               </tr>
               <tr>
                   <td>HELA_pk20_sw3_215sc_mono.txt</td>
                   <td>10</td>
                   <td><a href="assets/DataFiles/HelaDataset/HELA_pk20_sw3_215sc_mono.txt" download="HELA_pk20_sw3_215sc_mono.txt">Download</a></td>
               </tr>
           </tbody>
       </table> 
   
   </mat-card>
   <div style="height:10px;font-size:1px;">&nbsp;</div>
   
   <mat-card>
       <div> 
       <label style="text-align:left; display:unset; font-size:20px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Dataset #2: Escherichia coli dataset with unknown proteins</label>
       <a style="padding-left:10px" href="assets/DataFiles/EcoliDataset/EcoliDatasetWithParameters.zip" download="EcoliDatasetWithParameters.zip">Download All (zip)</a>
   </div>
   <p style="font-size: 15px;font-family: sans-serif;"><b>Description:</b> Alternating fragmentation mode (CID and ETD) has been used to identify proteoforms and characterize unknown modifications from top-down MS/MS dataset of Escherichia coli.</p>
   <p style="font-size: 15px;font-family: sans-serif;"> <b>Publication:</b> Kou, Qiang, Likun Xun, and Xiaowen Liu. "TopPIC: a software tool for top-down mass spectrometry-based proteoform identification and characterization." Bioinformatics 32.22(2016): 3495-3497<a href="https://academic.oup.com/bioinformatics/article/32/22/3495/2525589"> (link)</a></p>
   <table class="table table-hover">
           <thead>
               <tr>
                   <td>Search Parameters</td>
                   <td>File #.</td>
                   <td>Download (local copy)</td>
               </tr>
           </thead>
           <tbody>
                   <tr>
                           <td>Dataset II - Search Parameters EcoliDataset_CID.xlsx</td>
                           <td>1</td>
                           <td><a href="assets/DataFiles/EcoliDataset/Dataset II - Search Parameters EcoliDataset_CID.xlsx" download="Dataset II - Search Parameters EcoliDataset_CID.xlsx">Download</a></td>
                       </tr>
                       <tr>
                               <td>Dataset II - Search Parameters EcoliDataset_ETD.xlsx</td>
                               <td>2</td>
                               <td><a href="assets/DataFiles/EcoliDataset/Dataset II - Search Parameters EcoliDataset_ETD.xlsx" download="Dataset II - Search Parameters EcoliDataset_ETD.xlsx">Download</a></td>
                           </tr>
               </tbody>    
           </table>    
   
   <table class="table table-hover">
           <thead>
           <tr>
               <td>Dataset</td>
               <td>File #.</td>
               <td>Download (local copy)</td>
           </tr>
           </thead>
           <tbody>
           <tr *ngFor="let table of tables2">
               <td>{{table.dataset}}</td>
               <td>{{table.id}}</td>
               <td><a href="{{table.download}}" download="{{table.dataset}}">Download</a></td>
           </tr>
           </tbody>
       </table>
   </mat-card>
   
   
   <div style="height:10px;font-size:1px;">&nbsp;</div>
   <mat-card>
           <div> 
           <label style="text-align:left; display:unset; font-size:20px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Dataset #3: Salivary Cystatins</label>
           <a style="padding-left:10px" href="assets/DataFiles/ExampleFileDataset/SalivaryCystatinsDatasetWithParameters.zip" download="SalivaryCystatinsDatasetWithParameters.zip">Download All (zip)</a>
       </div>
       <p style="font-size: 15px;font-family: sans-serif;"><b>Description:</b> HCD fragmentation mode has been used to identify salivary cystatin proteoforms from top-down MS/MS dataset using Human saliva samples.</p>
       <p style="font-size: 15px;font-family: sans-serif;"> <b>Publication:</b> Manconi B, Liori B, Cabras T, Vincenzoni F, Iavarone F, Castagnola M, Messana I, Olianas A. Salivary cystatins: exploring new post-translational modifications and polymorphisms by top-down high-resolution mass spectrometry. Journal of proteome research. 2017 Nov 3;16(11):4196-207<a href="https://pubs.acs.org/doi/10.1021/acs.jproteome.7b00567"> (link)</a></p>
       <table class="table table-hover">
               <thead>
                   <tr>
                       <td>Search Parameters</td>
                       <td>File #.</td>
                       <td>Download (local copy)</td>
                   </tr>
               </thead>
               <tbody>
                       <tr>
                               <td>Dataset III - Search Parameters ExampleFiles.xlsx</td>
                               <td>1</td>
                               <td><a href="assets/DataFiles/ExampleFileDataset/Dataset III - Search Parameters.xlsx" download="Dataset III - Search Parameters.xlsx">Download</a></td>
                           </tr>
                   </tbody>    
               </table>    
       
       <table class="table table-hover">
               <thead>
               <tr>
                   <td>Dataset</td>
                   <td>File #.</td>
                   <td>Download (local copy)</td>
               </tr>
               </thead>
               <tbody>
               <tr *ngFor="let table of tables3">
                   <td>{{table.dataset}}</td>
                   <td>{{table.id}}</td>
                   <td><a href="{{table.download}}" download="{{table.dataset}}">Download</a></td>
               </tr>
               </tbody>
           </table> 
       
       
       </mat-card>
   </div>