<form #f="ngForm" (ngSubmit)="onSubmit(f.value);" (ngReset)="onReset(); f.reset() ;" class="ui form">

 <div id="top" style="width:90%; min-width: 600px; margin:0 auto;">
    <mat-card>
      <h4 style="text-align:center; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Sample Protein Data</h4>
    </mat-card>
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <mat-card>

<div>
    <label style="text-align:left; display:unset; font-size:20px; font-weight:bold; margin:0 auto;">Dataset #1: Histone H4 proteoforms</label>
    <a style="padding-left:10px" href="http://perceptron.lums.edu.pk/assets/DataFiles/HelaDataset/HelaDataset.zip" download="Salivary">Download All (zip)</a>
</div>
<p style="font-size: 15px;font-family: sans-serif;"> <b>Description:</b> Top-down proteomics protocol has been applied to identify intact human histone H4 proteoforms extracted from HeLa cells. Various modifications have been reported in the study.</p>
<p style="font-size: 15px;font-family: sans-serif;"> <b>Publication:</b> Ari M., et al. "Interpreting top-down mass spectra using spectral alignment. "Analytical chemistry 80.7 (2008): 2499-2505<a href="https://pubs.acs.org/doi/10.1021/ac702324u"> (link)</a></p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Dataset</td>
                <td>File #.</td>
                <td>Download (local copy)</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let table of tables1">
                <td >{{table.dataset}}</td>
                <td>{{table.id}}</td>
                <td><a href="{{table.download}}" download="{{table.dataset}}">Download</a></td>
            </tr>
        </tbody>
    </table> 

</mat-card>
<div style="height:10px;font-size:1px;">&nbsp;</div>
<!--FARHAN!!!!! COMMENTED FOR THE TIME BEING -->
<!-- <mat-card>
    <div> -->
        
        <!-- <label style="text-align:left;display:unset; font-size:20px; font-weight:bold; margin:0 auto;">Dataset #2: Human Proteoforms (CRC)</label>
        <a style="padding-left:10px" href="">Download All (zip)</a>
    </div>
    <p style="font-size: 15px;font-family: sans-serif;"><b>Description:</b> Top-down proteomic analysis of human colorectal cancer cell lysate has demonstrated identification of various proteins and unique proteoforms using alternating ETD and CID fragmentation modes. </p>
    <p style="font-size: 15px;font-family: sans-serif;"> <b>Publication:</b>  Anderson,   Lissa   C.,   et   al.   "Identification   and   characterization   of   human proteoforms by top-down LC-21 tesla FT-ICR mass spectrometry." Journal of proteome research16.2 (2016): 1087-1096 </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Dataset</td>
                    <td>File #.</td>
                    <td>Download (local copy)</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let table of tables2">
                    <td>{{table.dataset}}</td>
                    <td>{{table.id}}</td>
                    <td><a href="{{table.download}}" download="{{table.dataset}}">Download</a></td>
                </tr>
            </tbody>
        </table>
    </mat-card>
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <mat-card>
    <div>
        <label style="text-align:left;display:unset; font-size:20px; font-weight:bold; margin:0 auto;">Dataset #3: Alpha Synuclein Proteoforms</label>
        <a style="padding-left:10px" href="http://perceptron.lums.edu.pk/assets/images/data/alpha/txt_files.rar" download="ALPHA">Download All (zip)</a>
    </div>
        <p style="font-size: 15px;font-family: sans-serif;"><b>Description:</b> Profiling of alpha-synuclein from autopsied Parkinson's patients and controls to identify if pathology-associated brain tissue has a differential post-translationally modified alpha-synuclein profile as compared to control samples. Several novel phosphorylation sites were identified in the study. </p>
        <p style="font-size: 15px;font-family: sans-serif;"> <b>Publication:</b> Kellie,   John   F.,   et   al.   "Quantitative   measurement   of   intact   alpha-synuclein proteoforms from post-mortem control and Parkinson's disease brain tissue  by intact protein mass spectrometry." Scientific reports 4 (2014): 5797</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Dataset</td>
                <td>File #.</td>
                <td>Download (local copy)</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let table of tables3">
                <td>{{table.dataset}}</td>
                <td>{{table.id}}</td>
                <td><a href="{{table.download}}" download="{{table.dataset}}">Download</a></td>
            </tr>
        </tbody>
    </table> -->
<!-- </mat-card> -->

<!-- <div style="height:10px;font-size:1px;">&nbsp;</div>
<mat-card>

    <div>
        <label style="text-align:left;display:unset; font-size:20px; font-weight:bold; margin:0 auto;">Dataset #4: Histone H4 proteoforms</label>
        <a style="padding-left:10px" href="http://perceptron.lums.edu.pk//assets/images/data/hela/txt_files.rar" download="HELA">Download All (zip)</a>
    </div>
    <p style="font-size: 15px;font-family: sans-serif;"><b>Description:</b> Top-down proteomics protocol has been applied to identify intact human histone H4 proteoforms extracted from HeLa cells. Various modifications have been reported in the study.</p>
    <p style="font-size: 15px;font-family: sans-serif;"> <b>Publication:</b> Ari M., et al. "Interpreting top-down mass spectra using spectral alignment. "Analytical chemistry 80.7 (2008): 2499-2505</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Dataset</td>
                <td>File #.</td>
                <td>Download (local copy)</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let table of tables4">
                <td>{{table.dataset}}</td>
                <td>{{table.id}}</td>
                <td><a href="{{table.download}}" download="{{table.dataset}}">Download</a></td>
            </tr>
        </tbody>
    </table>

</mat-card>
<div style="height:10px;font-size:1px;">&nbsp;</div>   -->



<mat-card>
    <div> 
    <label style="text-align:left; display:unset; font-size:20px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Dataset #2: Escherichia coli dataset with unknown proteins</label>
    <a style="padding-left:10px" href="http://perceptron.lums.edu.pk/assets/DataFiles/EcoliDataset/EcoliDataset.zip" download="ECOLI">Download All (zip)</a>
</div>
<p style="font-size: 15px;font-family: sans-serif;"><b>Description:</b> Alternating fragmentation mode (CID and ETD) has been used to identify proteoforms and characterize unknown modifications from top-down MS/MS dataset of Escherichia coli.</p>
<p style="font-size: 15px;font-family: sans-serif;"> <b>Publication:</b> Kou, Qiang, Likun Xun, and Xiaowen Liu. "TopPIC: a software tool for top-down mass spectrometry-based proteoform identification and characterization." Bioinformatics 32.22(2016): 3495-3497<a href="https://academic.oup.com/bioinformatics/article/32/22/3495/2525589"> (link)</a></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Dataset</td>
            <td>File #.</td>
            <td>Download (local copy)</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let table of tables5">
            <td>{{table.dataset}}</td>
            <td>{{table.id}}</td>
            <td><a href="{{table.download}}" download="{{table.dataset}}">Download</a></td>
        </tr>
        </tbody>
    </table> 


</mat-card>
</div>