<div style="width:20%; min-width:350px; margin:0 auto;">
    <mat-card  style="width:100%;">
        <mat-card-header>
            <img src="assets/images/lock.svg" id="lock" height="10%">
        </mat-card-header>
        <mat-card-content>
            <span class="error" *ngIf="error">{{ error }}</span>

            
            <br>
            
            <button routerLink="/login-email" id="email">Login with Email</button>
            <button (click)="loginGuest()" id="guest">No Login (Guest) </button>
            <button style = "background-color:white; " (click)="loginGoogle()" id="google">Login With Google</button>
            <a routerLink="/signup" routerLinkActive="active" class="alc" style="color:#5C6BC0">No account?
                <strong>Create one here</strong>
            </a>
            
        </mat-card-content>
    </mat-card>
</div>