<mat-toolbar color="primary" role="header" style="min-width: 640px; position:initial;">
    <span class="icon-spacer"></span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="about()">
        <mat-icon (click)="about()">phone</mat-icon>
    </button>
    <span class="icon-spacer"></span>
    <button mat-icon-button (click)="bug()">
        <mat-icon>bug_report</mat-icon>
    </button>
    <span class="icon-spacer"></span>
    <button mat-icon-button (click)="account()">
        <mat-icon>account_circle</mat-icon>
    </button>
    <span class="icon-spacer"></span>
</mat-toolbar>