<div style="width:80%; min-width: 600px; margin:0 auto;">
    
    <mat-card>
            <h4 style="text-align:center; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Contact</h4>
          </mat-card>
          <div style="height:10px;font-size:1px;">&nbsp;</div>
<mat-card>
 <p>For further information or assistance, please send us an email at <a href="perceptron@lums.edu.pk">perceptron@lums.edu.pk</a> or call us at Tel:  +92 (42) 3560 8352<br>
    </p>

    <p>
        
        <span style='font-weight:bold;font-size:17px;'>Post:</span> 9-3C1, Biomedical Informatics Research Laboratory,<br>
        Department of Biology, <br>
        SBA School of Science and Engineering, <br>
        Lahore University of Management Sciences (LUMS), <br>
        DHA Phase 5, Lahore, 54792, Pakistan.<br>
        <span style='font-weight:bold;font-size:17px;'>Tel:</span> +92 (42) 3560 8352, Fax: +92 (42) 3572 1673<br>
        <span style='font-weight:bold;font-size:17px;'>E-mail:</span>  safeeullah@lums.edu.pk or safee.ullah.chaudhary@gmail.com<br>
        <span style='font-weight:bold;font-size:17px;'>Web:</span><a href ="http://biolabs.lums.edu.pk/birl"> biolabs.lums.edu.pk/BIRL </a> </p>
    
        <div style="align-content: center; align-items: center; align-self: center; text-align: center;"> <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1_qyJDlcPpteRpaEerYhRQ04tlWEUQ3V-" width="100%" height="480"></iframe></div>

    
</mat-card>

</div>

