<div id="top" style="width:90%; min-width: 900px; margin:0 auto;">
    <!-- div.LineHeight{
            line-height: 0.5;
        }
        -->
    <!-- <mat-card>
        <label
            style="text-align:center; font-size: 23px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Group
            Leader</label>
    </mat-card>
    <div style="height:10px;font-size:1px;">&nbsp;</div>

    <mat-card>
        <mat-card-content>
            <mat-grid-list cols="17" rowHeight="300px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/Safee Ullah Chaudhary.png" width="200" height="230">

                        <p style="text-align:center;"><b>Safee Ullah Chaudhary</b><br>Assistant Professor, Lahore
                            University of Management Sciences</p>

                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card> -->

    <div style="height:10px;font-size:1px;">&nbsp;</div>


    <mat-card>
        <label
            style="text-align:center; font-size: 23px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Team</label>
    </mat-card>
    <div style="height:10px;font-size:1px;">&nbsp;</div>

    <mat-card>
        <mat-card-content>

            
            <mat-grid-list cols="17" rowHeight="200px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/Safee Ullah Chaudhary.png" style="width:200px;height:200px;">    
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/Waqar Nabi.png" style="width:200px;height:200px;">   
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/WIM_VANDERBAUWHEDE.png" style="width:200px;height:200px;">   
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/FayyazAhmed.png" style="width:200px;height:200px;">    
                    </div>    
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="17" rowHeight="20px">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile class="largeScreen" colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Safee Ullah Chaudhary</b><br> Group Leader<br>Assistant Professor, Lahore University of Management Sciences</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="4">
                    <p style="text-align:center;"><b>Waqar Nabi</b><br>Assistant Professor, University of Glasgow</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="5">
                    <p style="text-align:center;"><b>Wim Vanderbauwhede</b><br>Professor, University of Glasgow</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="4">
                    <p style="text-align:center; top:-10px"><b>Fayyaz Ahmed</b><br>Associate Professor, University of Gujrat</p>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="17" rowHeight="200px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/BilalWajid.png" style="width:200px;height:200px;">                           
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="17" rowHeight="20px">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center; vertical-align: text-top;"><b>Bilal Wajid</b><br>Assistant Professor, University of Engineering & Technology</p>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-card-content>

    </mat-card>
    <div style="height:10px;font-size:1px;">&nbsp;</div>

    <mat-card>
        <label
            style="text-align:center; font-size: 23px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Current
            Team</label>
    </mat-card>
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <mat-card>
        <mat-card-content>
            <mat-grid-list cols="17" rowHeight="200px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/Farhan.jpg" width="200" height="200"> 
                    </div>
                </mat-grid-tile>


                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/kanz1.jpg" width="200" height="200"> 
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3"> 
                    <div>
                        <img src="assets/images/AmnaGhafoor.jpg" width="200" height="200">
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/MuhammadAbubakar.jpg" width="200" height="200">
                    </div>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="17" rowHeight="20px">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Muhammad Farhan Khalid</b><br>Research Associate, Lahore University of Management Sciences</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="5">
                    <p style="text-align:center;"><b>Kanzal Iman</b><br>PhD Student, Lahore University of Management Sciences</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="5">
                    <p style="text-align:center;"><b>Amna Ghafoor</b><br>Senior Year Project, Lahore University of Management Sciences</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="5">
                    <p style="text-align:center;"><b>Muhammad Abubakar</b><br>Senior Research Associate, Lahore University of Management Sciences</p>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>


        <!-- <mat-card-content>
            <mat-grid-list cols="17" rowHeight="200px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/Farhan.jpg" width="200" height="200"> 
                    </div>
                </mat-grid-tile>

            </mat-grid-list>

            <mat-grid-list cols="17" rowHeight="20px">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Muhammad Farhan Khalid</b><br>Research Associate, Lahore University of Management Sciences</p>
                </mat-grid-tile>
            </mat-grid-list> -->

        <!-- </mat-card-content> -->
        





    </mat-card>

    <div style="height:10px;font-size:1px;">&nbsp;</div>


    <mat-card>
        <label
            style="text-align:center; font-size: 23px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Previous
            Contributors</label>
    </mat-card>
    <div style="height:10px;font-size:1px;">&nbsp;</div>
    <mat-card>
        <mat-card-content>
            <mat-grid-list cols="17" rowHeight="200px">

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/Mujtaba.jpg" width="200" height="200">
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/ahsan.jpg" width="200" height="200">    
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/urwa.jpg" width="200" height="200">   
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/abdul.jpg" width="200" height="200"> 
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="17" rowHeight="20px">
                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Mujtaba Saboor</b><br>Senior Year Project, University of Engineering & Technology</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Ahsan Ali</b><br>Senior Year Project, University of Engineering & Technology</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Urwa Muaz</b><br>Senior Year Project, University of Engineering & Technology</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Abdul Rehman Basharat</b><br>Research Associate, Lahore University of Management Sciences</p>
                </mat-grid-tile>
            </mat-grid-list>


            <mat-grid-list cols="17" rowHeight="200px">    
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/taha.jpg" width="200" height="200">      
                    </div>
                </mat-grid-tile>

                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3">
                    <div>
                        <img src="assets/images/MominaAmerAkhter.jpg" width="200" height="200">    
                    </div>
                </mat-grid-tile>



            </mat-grid-list>

            <mat-grid-list cols="17" rowHeight="20px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Taha Tahir</b><br>Senior Year Project, University of Engineering & Technology</p>
                </mat-grid-tile>

                <mat-grid-tile></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="6">
                    <p style="text-align:center;"><b>Momina Amer Akhter</b><br>Research Intern, Lahore University of Management Sciences</p>
                </mat-grid-tile>
            </mat-grid-list>

        </mat-card-content>
    </mat-card>


    <div style="height:10px;font-size:1px;">&nbsp;</div>

    <mat-card>
            <label
                style="text-align:center; font-size: 23px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Acknowledgments</label>
        </mat-card>
        <div style="height:10px;font-size:1px;">&nbsp;</div>

    <mat-card>
        <!-- <mat-card-header>
            <label
                style="padding-left:0px; font-weight:bold; font-size: 23px; font-family: roboto, arial, sans-serif;">Acknowledgments</label>
        </mat-card-header> -->
        <mat-card-content>
            <br>
            <label
                style="padding-left:0px; font-size: 15px; text-align: centre; font-family: roboto, arial, sans-serif;">PERCEPTRON
                was generously sponsored by several funding agencies over its development. Special acknowledgement to <a
                    href="http://www.hec.gov.pk">Higher Education Comission of Pakistan</a>, Islamabad, <a
                    href="http://www.nvidia.com">NVIDIA Corporation</a> and <a href="http://www.lums.edu.pk">Lahore
                    University of Management Sciences</a>, Lahore, Pakistan.</label>
            <br>
            <mat-grid-list cols="15" rowHeight="100px">
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <img src="assets/images/lums.png" width="80" height="80">
                </mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <img src="assets/images/hec.png" width="80" height="80">
                </mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <img src="assets/images/twas.png" width="80" height="80">
                </mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <img src="assets/images/nvidia.png" width="80" height="80">
                </mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
                <mat-grid-tile colspan="1"></mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>

</div>