<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4" targetFramework="net452" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="14.0.0.1" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net45" requireReinstallation="True" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" targetFramework="net45" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
</packages>