<div style="width:94%;  margin:0 auto;">
    <mat-card style = "height: 100%;padding-top: 2px;">
            <label style="padding-bottom:10px; text-align:center; font-size: 25px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">PERCEPTRON - Proteoform Identification Pipeline for Top-Down Proteomics</label>
            <img src ="assets/images/WebHomepage.jpg" width="70%;" style=" margin-left: auto; margin-right: auto; display: block;" >
            <br>
            <label style="padding-left:0px; font-size: 15px; font-family: roboto, arial, sans-serif;"><span style="font-weight:500">Users:</span> {{user}},&nbsp;&nbsp;<span style="font-weight:500">Searches Completed: </span>{{search}},&nbsp;&nbsp;<span style="font-weight:500">Databases Supported: </span>2  </label>
    </mat-card>
    <br>
</div>    
