<div style="width:92%;  margin:0 auto;">
        <mat-card style = "height: 100%">
            <label style="text-align:center; font-size: 25px; font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">PERCEPTRON - Proteoform Identification Pipeline for Top-Down Proteomics</label>
    
            <mat-card-content>
                            <div class="row"> 
                            <div class="col-md-12">
                                <div class="col-md-4 pull-right">
                                    <div class="float_text_right">
                                    <img class="img-responsive shadow float_text_left" src="assets/images/StrikingImage.jpg" width="60%"/>
                                
                                <span>
                                    <p class=".float_text_right">
                                        <b>Welcome to Perceptron!</b><br> Welcome to the admin panel.
                                    </p>
                                </span>
                                
                                </div>
                                </div>
                            </div> 
                            </div>
                    
                        
                    
                
            </mat-card-content>
        </mat-card>
    </div>