<div id="top" style="width:20%; min-width:350px; margin:0 auto;">
  <mat-card style="width:100%;">
    <mat-card-content>

      <mat-card-header style="padding:0px; width:100%;">
        <div style="padding:0px; width:100%;">
          <a routerLink="/login" style="color: unset;" id="goback"><mat-icon style="font-size: 28px;font-weight: bold;" class="orange600">keyboard_backspace</mat-icon></a>
          <br>
          <br>
          <h3 style="padding:0px; width:100%;">Email Login</h3>
        </div>
      </mat-card-header>
      <br>

      <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput  placeholder="Enter your email" type="email" (ngModel)="email" name="email" required>
          <mat-error *ngIf="email.invalid">
            {{getErrorMessage()}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter your password" (ngModel)="password" name="password" [type]="hide ? 'password' : 'text'"
            required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!formData.valid" color="primary">Log in</button>
        <a routerLink="/reset"  routerLinkActive="active" class="alc" style="color:#5C6BC0">Forgot password?</a>
        <a routerLink="/signup" class="alc" style="color:#5C6BC0">Don't have an account?</a>
      </form>
    </mat-card-content>
  </mat-card>
</div>