<div id="top" style="width:90%; min-width: 900px; margin:0 auto;">
  <mat-card>
      <h4 style="text-align:center;font-family: Roboto, Arial, sans-serif; font-weight:bold; margin:0 auto;">Results Interpretation - Under Construction</h4>
  </mat-card>
  <div style="height:10px;font-size:1px;">&nbsp;</div>
  
  <!-- <mat-card>
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      <h5 style="padding-left:0px; font-weight:bold; font-family: roboto, arial, sans-serif;">Interpretation Steps</h5>
      <h5 class="header">Step 1 – Basic Parameters</h5><a href="assets/images/Screenshots/1.PNG"class="to_right" download="step1"><i class="material-icons" style="vertical-align: text-bottom;">save_alt</i></a>
      <p>
          Enter the ‘Protein Search Title’. Browse and upload Data file(s) to search in single or batch modes. Enter intact protein mass (MS1). Browse for the folder containing database(s). Select Database File (e.g. Human). Select the number of candidate protein hits to be received in results.
      </p>
      <img id="get1" src ="assets/images/step_1a.png" width="100%" class="center">
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      <img id="get1" src ="assets/images/down.png" class="center">
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      <img id="get1" src ="assets/images/step_1b.png" width="100%" class="center">
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      <hr>
      <div style="height:10px;font-size:1px;">&nbsp;</div>

      
      <h5 class="header">Step 2 – Set Experimental Parameters</h5>
      <a href="assets/images/step_2.png"class="to_right" download="step2"><i class="material-icons" style="vertical-align: text-bottom;">save_alt</i></a>
      <p>
          Select Mass Mode. Click ‘Filter Database using MS1’ to filter protein database on the basis of MS1 and ‘Handle Truncated Proteoforms’ to allow search for truncated proteoforms. Enter intact mass and peptide tolerances and select ‘Tune Intact Protein Mass’ to allow for tuning of MS1 using MS2 data. Select fragmentation type and corresponding special ions. Incorporate masses of neutral loss, if any.
      </p>
      <img id="get2" src ="assets/images/step_2.png" width="100%;" class="center">
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      
      <hr>
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      
      
      <h5 class="header">Step 3 – Set <i>De Novo</i> Sequencing Parameters</h5>
      <a href="assets/images/step_3.png"class="to_right" download="step3"><i class="material-icons" style="vertical-align: text-bottom;">save_alt</i></a>
      <p>
          Select ‘Enable PST Filtering’ to allow for peptide sequence tag-based search. Select for PST length and tolerance. 
      </p>
      <img id="get3" src ="assets/images/step_3.png" width="100%;" class="center">
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      
      <hr>
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      
      
      <h5 class="header">Step 4 – Set Protein Modifications Parameters</h5>
      <a href="assets/images/step_4.png"class="to_right" download="step4"><i class="material-icons" style="vertical-align: text-bottom;">save_alt</i></a>
      <p>
          Select ‘Terminal modifications’ to be included in the search. Select ‘Fixed’ and ‘Variable’ post-translational modifications or click ‘Blind-PTM Search’ to allow search for unknown post-translational modifications. 
      </p>
      <img id="get4" src ="assets/images/step_4.png"width="100%;" class="center">
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      
      <hr>
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      
      
      <h5 class="header">Step 5 – Set Scoring Components Weight</h5>
      <a href="assets/images/step_5.png" class="to_right" download="step5"><i class="material-icons" style="vertical-align: text-bottom;">save_alt</i></a>
      <p>
          Set ‘Scoring Components Weightage’ and click ‘Submit’. Check email for results or go to ‘Search Results & History’ page to view results.
      </p>
      <img id="get5" src ="assets/images/step_5.png" width="100%;" class="center">
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      

      <h5 class="header">Step 6 – Summary and Detailed Results </h5> <a href="assets/images/step_6a.png" class="to_right" download="step6"><i class="material-icons" style="vertical-align: text-bottom;">save_alt</i></a>
      <p>
          Go to ‘Search Results & History’ page to view summary results. Select the protein to see detailed results or check email for results.
      </p>
      <img id="get5" src ="assets/images/step_6a.png" width="100%;" class="center">
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      <img id="get5" src ="assets/images/down.png" class="center">
      <div style="height:10px;font-size:1px;">&nbsp;</div>
      <img id="get5" src ="assets/images/step_6b.png" width="100%;" class="center">
      <div style="height:10px;font-size:1px;">&nbsp;</div>
  </mat-card> -->
</div>