.example-card {
    width: 400px;
  }
  
  .example-header-image {
    background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-spacer {
    flex: 1 1 auto; 
  }
.sth{
  font-size:30px !important;
}

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .hint {
    position: absolute;
    left: 5px;
    right: auto;
    bottom: 0px;
    font-size: 14px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey; 
  }

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.example-button-row 
{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.mat-tooltip {
  /* your own custom styles here */ 
  /* e.g. */
  font:100px !important;
}

/deep/ .mat-checkbox-layout{
float: left;
}

/deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #201a93;
}

/deep/ .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color:#201a93;
}
/deep/ .mat-tooltip {
  font-size: 15px;
}
 /deep/ .mat-placeholder {
  font-size: 2em;
}
/deep/ .mat-form-field-placeholder {
  font-size: 14px !important ;
}

/deep/ .mat-accent .mat-slider-thumb {
  background-color: #201a93;
} 
/deep/ .mat-accent .mat-slider-thumb-label {
  background-color: #201a93;
} 
/deep/ .mat-accent .mat-slider-track-fill {
  background-color: #201a93;
} 

#PageRefresh{
  height:10px;
  color:red;
  font-size:15px;
  font-style: italic;
  float:right;
}